.popup__container {
  width: 430px;
  min-height: 330px;
  background-color: #ffffff;
  color: black;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 2;
}

@media screen and (max-width: 425px) {
  .popup__container {
    width: 282px;
    min-height: 322px;
  }
}
