.popup__form_type_name {
  margin-bottom: 30px;
}

.popup__form_type_name::placeholder {
  vertical-align: top;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 425px) {
  .popup__filled_type_name {
    font-size: 14px;
    line-height: 17px;
  }
}
