.profile__add-button {
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.3s linear;
  position: relative;
  background: url(../../../images/Vectorplus.svg) no-repeat center;
  background-color: transparent;
}

@media screen and (max-width: 935px) {
  .profile__add-button {
    width: 282px;
    margin-top: 32px;
    box-sizing: border-box;
    background-size: 16px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}
