.elements {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  column-gap: 17px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-items: center;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 920px) and (min-width: 540px) {
  .elements {
    margin: 0 20px;
  }
}
