.popup__close-button {
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  border: 0;
  outline: none;
  transition: opacity 0.3s linear;
  cursor: pointer;
  width: 32px;
  min-height: 32px;
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  align-self: center;
  flex: none;
  background-size: cover;
}

@media screen and (max-width: 425px) {
  .popup__close-button::before {
    width: 20px;
    min-height: 20px;
  }
  .popup__close-button {
    width: 20px;
    min-height: 20px;
    top: -38px;
    right: 0;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
}
